<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cug.cs.codercommunity.mapper.CommentLikeMapper">
    <insert id="insertOrUpdateLike">
        insert into `comment_like`(user_id, comment_id, status, gmt_create, gmt_modified)
        values (#{userId}, #{commentId}, #{status}, #{gmtCreate}, #{gmtModified})
        on duplicate key
            update status = #{status}, gmt_modified = #{gmtModified}
    </insert>

    <select id="selectByUserIdAndCommentId" resultType="cug.cs.codercommunity.model.CommentLike">
        select * from `comment_like` where user_id = #{userId} and comment_id = #{commentId}
    </select>

    <select id="selectStatus" resultType="integer">
        select status from `comment_like` where user_id = #{userId} and comment_id = #{commentId}
    </select>

</mapper>
