<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cug.cs.codercommunity.mapper.QuestionLikeMapper">
    <insert id="insertOrUpdateLike">
        insert into `question_like`(user_id, question_id, status, gmt_create, gmt_modified)
        values (#{userId}, #{questionId}, #{status}, #{gmtCreate}, #{gmtModified})
        on duplicate key
        update status = #{status}, gmt_modified = #{gmtModified}
    </insert>

    <select id="selectByUserIdAndQuestionId" resultType="cug.cs.codercommunity.model.QuestionLike">
        select * from `question_like` where user_id = #{userId} and question_id = #{questionId}
    </select>

    <select id="selectStatus" resultType="integer">
        select status from `question_like` where user_id = #{userId} and question_id = #{questionId}
    </select>
</mapper>